<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.amir.spring.context"/>

    <!--    <bean name="student" class="com.amir.spring.context.Student" scope="singleton" init-method="init" >-->
    <!--        <property name="name" value="ali"/>-->
    <!--        <property name="age" value="25"/>-->
    <!--        <property name="family" value="ghamari"/>-->
    <!--        <property name="book" ref="historyBook" />-->
    <!--    </bean>-->
    <!--    <bean name="historyBook" class="com.amir.spring.context.HistoryBook" >-->
    <!--        <property name="title" value="abcd"/>-->
    <!--        <property name="price" value="1000"/>-->
    <!--        <constructor-arg name="price" value="1000"/>-->
    <!--        <constructor-arg name="title" value="abcd"/>-->
    <!--    </bean>-->
    <!--    <bean name="logger" class="org.apache.log4j.Logger" >-->
    <!--        <constructor-arg name="name" value="logger" />-->
    <!--    </bean>-->


<!--    <bean name="student" class="com.amir.spring.context.Student" scope="prototype" init-method="createObject" destroy-method="destroyObject" >-->
<!--        <constructor-arg name="age" value="120" index="0"/>-->
<!--        <constructor-arg name="name" value="ali" index="1"/>-->
<!--        <constructor-arg name="family" value="alavi" index="2"/>-->
<!--    </bean>-->


</beans>